[submodule "ext/pacman"]
	path = ext/pacman
	url = https://github.com/dylan-lang/pacman
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/dylan-lang/json
[submodule "ext/regular-expressions"]
	path = ext/regular-expressions
	url = https://github.com/dylan-lang/regular-expressions
[submodule "ext/uncommon-dylan"]
	path = ext/uncommon-dylan
	url = https://github.com/dylan-lang/uncommon-dylan
[submodule "ext/workspaces"]
	path = ext/workspaces
	url = https://github.com/dylan-lang/workspaces
[submodule "ext/command-line-parser"]
	path = ext/command-line-parser
	url = https://github.com/dylan-lang/command-line-parser
[submodule "ext/logging"]
	path = ext/logging
	url = https://github.com/dylan-lang/logging.git
[submodule "ext/sphinx-extensions"]
	path = ext/sphinx-extensions
	url = https://github.com/dylan-lang/sphinx-extensions.git
